@charset "utf-8";


// -- This makes the footer stick to the bottom of the page
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.my-content {
    flex: 1;
}

.has-image-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-extensions/bulma-divider/src/sass/index.sass";
